<img style="padding: 5%" src="/Images/BreezeLogo.svg">
<p>
The purpose of this project is to assist Breeze Airways with assessing your
knowledge and competency with Ruby on Rails. In order to complete the
project, you will need to have a basic knowledge of Rails, HTML, and CSS.
Requirements
The project is to develop a web-based address book with a minimum set of
features. You will need to use git and Github.com as your repository. Please
ensure the first commit is a blank Rails project so Breeze can review all
subsequent commits.
</p>
<strong>Basic requirements:</strong>
<br/>• PostgreSQL as the database technology
<br/>• Ability to add, edit, and delete contacts
<br/>• Contacts should have a minimum set of fields:
<br/>§ Name
<br/>§ Address
<br/>§ Email
<br/>§ Phone
<br/>• Ability to view all contacts in a list sorted alphabetically by name
<br/>• Host the app on a free Heroku.com account
<p>
Feel Free to expand on the basic requirements with extra features such as user
authentication.
Once completed send the links to your Github.com repository and the app
hosted on Heroku.com to dee.evans@flybreeze.com
</p>