<!doctype html>
<html lang="en">
  <head>
    <style>
    .links_line {display:flex}
    a {margin:10px}
    </style>
  </head>
  <body>

    <%= render "home/header" %>

    <div class="page">
      <br/>
      <%= yield %>
    </div>

  </body>
</html>
